<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <base target="_blank" />
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" type="text/css" />
    <script type="text/javascript" src="{{ '/js/index.js' | url }}"></script>
  </head>

  <body>
    <div id="particles">
      <div id="intro">
        <h2 style="font-family: 'Syncopate', sans-serif; font-weight: 10">
          {{ name }}
        </h2>
        <hr
          style="width: 50%; background-color: #e83951; border-color: #e83951"
        />
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>
