<!DOCTYPE html>
<html lang="en" class="h-full w-full overflow-hidden">
  <head>
    <base target="_blank" />
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" type="text/css" />
    <script type="text/javascript" src="{{ '/js/index.js' | url }}"></script>
  </head>
  <body class="bg-primary text-secondary h-full w-full overflow-hidden">
    <div id="particles" class="h-full w-full overflow-hidden">
      <div id="intro" class="absolute left-0 top-1/2 px-10 w-full text-center">
        <div>
          <h2 class="text-5xl font-thin font-sans tracking-wide uppercase">
            {{ site.name }}
          </h2>
        </div>
        <div class="text-2xl font-sans mt-2 mb-6">
          {{ content | safe }}
        </div>
        <div class="text-4xl space-x-2">{% include "links.njk" %}</div>
      </div>
    </div>
  </body>
</html>
