---
layout: base.njk
title: hnrkcode.github.io
---

<h2 class="text-5xl font-thin font-sans tracking-wide uppercase">
  {{ site.name }}
</h2>
<p class="mt-2 ">I'm a software developer and I love creating things.</p>
